/* Mobile Portrait View */
@media screen and (max-width:767px) {
	/*Mobile Menu CSS*/
	.wp-block-navigation__responsive-container.is-menu-open.has-modal-open{ background-color:#fff !important; padding:25px;}
	.fse-sections-01, .fse-sections-02{ padding-top:50px !important; padding-bottom:50px !important;}
	.wp-block-group.header-Top .wp-block-group{ flex-wrap:wrap !important; gap:5px !important;  flex-direction: column !important; }
	.wp-block-cover.hdrbanner-BX{ min-height:400px !important;}
	.wp-block-group.bannerInfo h2{ font-size:28px !important; margin-bottom:20px !important;}
	.wp-block-group.bannerInfo h4{ margin-top:0 !important;}
	ul.blog-list-style li{ padding:30px; margin-bottom:25px;}
	ul.blog-list-style li .blog-thumbx{ width:100%; float:none; margin:0 0 20px 0;}
	body.page-template-front .site-main-header{ position: relative !important; }
	.wp-block-button.QuoteBtn a{ position:absolute; right:0; bottom:4px; padding:12px 20px !important;}
	.fse-sections-01 h2.wp-block-heading, .fse-sections-02 h2.wp-block-heading, .fse-sections-03 h2.wp-block-heading{ font-size:35px !important;}
	.footer-top-contact-info .wp-block-column-is-layout-flow{ border-right:0 !important;}
	
	.fse-sections-01 h2.wp-block-heading{ margin-bottom:30px !important;}
	.wp-block-group.header-main-banner{ margin-top:0 !important}
	.header-right-contactinfo.wp-container-core-group-is-layout-7f3422df{ justify-content:flex-start !important; padding:0 20px !important; gap:20px !important;}
	.wp-block-column.logo { padding:20px !important;border-right:none;	flex-basis:25% !important;}
	.energix_about_small{ margin-top:-50px !important;  float:none !important;}
	.wp-block-group.energix-hdr-right{ gap:10px !important;}
	.logo{ position:relative !important; padding:0 !important; top:0 !important;}
	.logo::before, .logo::after{ display:none !important}
	.wp-block-group.header-top-row{ gap:10px !important;}

}


@media screen and (max-width:599px) {
	.wp-block-group.header-nav-bar{ padding-top:0 !important; padding-bottom:0 !important;}
	.wp-block-cover.hdrbanner-BX{ min-height:350px !important;}
	body .header-top-left.is-layout-flex, 
	body .header-top-right.is-layout-flex{ flex-wrap:wrap; gap:10px;}
	.wp-block-column.logo {padding:20px !important;	border-right:none;	flex-basis:25% !important;}
	ul.blog-list-style li .blog-thumbnail{ width:100% !important; float:none !important; margin:0 0 25px 0 !important; }
	body .headtop-Wrap.is-layout-flex, body .header-right-contactinfo.is-layout-flex{ flex-wrap:wrap !important;  gap:10px !important;}
	.wp-block-group.gv-middle-row{ border:none !important; padding-left:0 !important; padding-right:0 !important;}
	
	/* Navigation Responsive CSS*/
	.wp-block-navigation__responsive-container-close svg,
	.wp-block-navigation__responsive-container-open svg{ width: 42px; height: 42px;  }    
	.wp-block-navigation__responsive-container-open svg path,
	.wp-block-navigation__responsive-container-close svg path{ fill: var(--wp--preset--color--black);  }
	.wp-block-navigation .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container { width: 100%; border-bottom: none;  gap: 0 !important;   }
	.wp-block-navigation .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container li.wp-block-navigation-item {width:100%;gap: 0 !important;border: none !important;}
	.wp-block-navigation .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container li.wp-block-navigation-item a { width: calc( 100% - 48px ); padding: 12px 24px 12px;line-height: 30px;text-align: left;}
	.wp-block-navigation .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container li.wp-block-navigation-item .wp-block-navigation__submenu-icon { font-size: 19px;line-height: 1; position: absolute; right: 0;top: 0; display: block !important; margin-left: 15px; padding: 3px 10px; float: right; height: 42px; width: 42px;}
	.wp-block-navigation .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container li.wp-block-navigation-item .wp-block-navigation__submenu-icon svg { width: 30px;height: 13px; stroke: var(--wp--preset--color--black);display: block;margin: 0 !important;padding: 0 !important;}
	.wp-block-navigation .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container li.wp-block-navigation-item ul.wp-block-navigation__submenu-container {
	width: 100%;gap: 0;margin: 0;padding: 0;display: none;box-shadow: none;  }
	.wp-block-navigation .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container li.wp-block-navigation-item .wp-block-navigation-submenu__toggle[aria-expanded=true] + ul.wp-block-navigation__submenu-container { display: block; margin: 0; padding: 0;  }

}

@media screen and (max-width: 781px){
.wp-block-column.logo {padding:20px !important;}

}

@media screen and (max-width: 980px){
	.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"], .wpcf7 textarea{ width:100%;}
	.wp-block-group.header-main-banner:after{ display:none !important;}
	.energix_about_small{ margin-top:-50px !important;  float:none !important;}
	.logo{ position:relative !important; padding:0 !important; top:0 !important;}
}
@media screen and (max-width:1200px) and (min-width:482px) { 
	.wp-block-group.bannerInfo h5.wp-block-heading{ margin-top:100px !important;}

}

@media screen and (max-width:1800px) and (min-width:1200px) { 
	.wp-block-group.bannerInfo h5.wp-block-heading{ margin-top:100px !important;}
}

@media screen and (max-width:6000px) and (min-width:1024px) { 
	.logo {
		text-align: left;   
		padding:35px 70px 0px 0px;
		position: absolute;
		z-index: 999; 
		top: -73px;
		background: #fff;
	}
	.logo::before {
		background-color: #fff;
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		left: -999999px;
		top: 0;
		width: 999999px;
	}
	.logo::after{
		content: '';
		width: 0;
		height: 0;
		border-bottom: 74px solid #fff;
		border-right: 60px solid transparent;
		position: absolute;
		right: -59px;
		top: -0;
	 }
}



